body {
  padding: 0%;
  margin: 0%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.App {
  width: 300px;
}

.App .DataInput {
  margin: 25px 0px;
}
.App .DataDisplay {
  text-align: left;
}
.App .DataDisplay button {
  margin-left: 20px;
}

.App input {
  height: 25px;
  margin: 2%;
  text-align: left;
  width: 70%;
}
.App button {
  height: 30px;
  width: 22%;
}
.App h2 {
  font-size: 30px;
}
.App h4 {
  font-size: 18px;
  font-weight: 500;
}
